<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'myapp/style.css' %}" type="text/css" media="screen">
</head>
<body>
<h2>{{ question.question_text }}</h2>
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} (Votes: {{ choice.votes }})</li>
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Choice</button>
</form>

</body>
</html>
